<h2 mat-dialog-title i18n>Download ebook file</h2>

<mat-dialog-content class="download-modal">
    <p>
        <small>
            <strong>{{ebookFile.conversionSourceFormat}}</strong>
            <span i18n>will be used as a source for the conversion.</span>
        </small>
    </p>

    <mat-divider />

    <section class="sec-currently-available">
        <p i18n>
            Currently available formats:
        </p>

        <mat-list>
            @for (availableFormat of availableFormats; track availableFormat) {
                <mat-list-item>
                    <mat-icon matListItemIcon>description</mat-icon>

                    <div matListItemTitle>
                        {{availableFormat | uppercase}}

                        @if (ebookFile.conversionSourceFormat === availableFormat) {
                            <em>(source)</em>
                        }
                    </div>

                    <!-- If screen is large enough, show buttons in a single line -->
                    <!-- If screen is small, show buttons in a column -->
                    @if (!smallScreen) {
                        <div matListItemLine class="action-btn-picker">
                            <button mat-button
                                    color="primary"
                                    [disabled]="ongoingActionItem !== null"
                                    (click)="onDownloadFormat(availableFormat)"
                                    class="action-btn">
                                <span i18n>Download</span>
                                <mat-icon>download</mat-icon>
                            </button>

                            @if (ebookFile.conversionSourceFormat !== availableFormat) {
                                <button mat-button
                                        color="primary"
                                        [disabled]="ongoingActionItem !== null"
                                        (click)="onDeleteFormat(availableFormat)"
                                        class="action-btn">
                                    <span i18n>Delete</span>
                                    <mat-icon>delete_forever</mat-icon>
                                </button>

                                <button mat-button
                                        color="primary"
                                        [disabled]="ongoingActionItem !== null"
                                        (click)="onChangeFormatToSource(availableFormat)"
                                        class="action-btn">
                                    @if (smallScreen) {
                                        <span i18n>Set as src</span>
                                    } @else {
                                        <span i18n>Change to source</span>
                                    }
                                    <mat-icon>restart_alt</mat-icon>
                                </button>
                            }
                        </div>
                    } @else {
                        <div matListItemLine class="action-btn-picker">
                            <button mat-button
                                    color="primary"
                                    [disabled]="ongoingActionItem !== null"
                                    (click)="onDownloadFormat(availableFormat)"
                                    class="action-btn">
                                <span i18n>Download</span>
                                <mat-icon>download</mat-icon>
                            </button>
                        </div>

                        @if (ebookFile.conversionSourceFormat !== availableFormat) {
                            <div matListItemLine class="action-btn-picker">
                                <button mat-button
                                        color="primary"
                                        [disabled]="ongoingActionItem !== null"
                                        (click)="onDeleteFormat(availableFormat)"
                                        class="action-btn">
                                    <span i18n>Delete</span>
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>

                            <div>
                                <button mat-button
                                        color="primary"
                                        [disabled]="ongoingActionItem !== null"
                                        (click)="onChangeFormatToSource(availableFormat)"
                                        class="action-btn">
                                    <span i18n>Change to source</span>
                                    <mat-icon>restart_alt</mat-icon>
                                </button>
                            </div>
                        }
                    }
                </mat-list-item>
            }
        </mat-list>
    </section>

    <mat-divider />

    <section class="sec-other-formats">
        <p i18n>
            Other formats:
        </p>

        <mat-list>
            @for (otherFormat of otherFormats; track otherFormat) {
                <mat-list-item>
                    <mat-icon matListItemIcon>description</mat-icon>

                    <div matListItemTitle>
                        {{otherFormat | uppercase}}
                    </div>

                    <div matListItemLine>
                        <button mat-button
                                color="primary"
                                (click)="onConvertToFormat(otherFormat)"
                                [disabled]="ongoingActionItem !== null">
                            <span i18n>Convert</span>
                            <mat-icon>sync</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            }
        </mat-list>
    </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if (ongoingActionItem !== null) {
        <mat-progress-bar mode="indeterminate" />
    }

    <button mat-button mat-dialog-close class="cancel-btn" i18n>Cancel</button>
</mat-dialog-actions>
