<div>
    @if (!ebookProject?.coverImageKey) {
        <p><strong i18n>No cover image</strong></p>
    }
    @else if (coverUrlLoadingStatus == LoadingStatus.LOADED) {
        <img [ngSrc]="coverUrl!!"
             alt="cover"
             class="cover-image"
             width="200" height="300" />
    } @else if (coverUrlLoadingStatus == LoadingStatus.LOADING) {
        <mat-spinner />
    } @else if (coverUrlLoadingStatus == LoadingStatus.ERROR) {
        <p><strong i18n>Could not load the cover...</strong></p>
    }
</div>

<div class="details-line">
    <strong i18n>Title</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookProject?.name || 'Unknown title'}}</p>
</div>

<div class="details-line">
    <strong i18n>Author</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookProject?.author || 'Unknown author'}}</p>
</div>

<div class="details-line">
    <strong i18n>Description</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookProject?.description || '-'}}</p>
</div>

<div class="details-line">
    <strong i18n>Tags</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookProject?.tags!.join(", ") || "-" }}</p>
</div>

<div class="details-line">
    <strong i18n>Created at</strong>

    <p>{{(ebookProject?.creationDate | date) || '-'}}</p>
</div>

<div class="details-line">
    <strong i18n>Chapters count</strong>

    <p>{{(ebookProject?.chapters?.length) || '0'}}</p>
</div>

<div class="details-line">
    <strong i18n>Share status</strong>

    @if (ebookProject?.isPublic) {
        <p i18n>Public</p>
    } @else {
        <p i18n>Private</p>
    }
</div>

<div class="details-line">
    <strong i18n>Total size</strong>

    @if (ebookProject?.totalSizeBytes) {
        <p>{{stringUtils.formatBytes(ebookProject?.totalSizeBytes!)}}</p>
    } @else {
        <p>???</p>
    }
</div>

