<div class="landing-page-content">
    <app-landing-page-navbar />

    <section class="landing-section" id="landing-page-header">
        <div class="landing-section-figure">
            <img ngSrc="/assets/illustrations/girl-reading-book.svg"
                 alt="Girl reading a book"
                 width="700" height="400" />
        </div>

        <div class="landing-section-actions">
            <h2 class="landing-section-header" i18n>Securely create and store e-books in the cloud</h2>

            <p class="landing-section-description" i18n>
                A free secure network drive that offers the ability to create and convert e-books.
                With ebook-wizard you can create and store all your e-books in one place.
                Sign up now to start using the ebook-wizard service.
            </p>

            <div class="landing-section-buttons">
                @if (isUserAuthenticated) {
                    <button mat-flat-button color="primary" routerLink="/ebook" i18n>Open your disk</button>
                } @else {
                    <button mat-flat-button color="primary" routerLink="/auth/login" i18n>Sign in</button>
                }
            </div>

            @if (!isUserAuthenticated) {
                <div class="landing-section-registration">
                    <ng-container i18n>You don't have an account yet?</ng-container>
                    <a routerLink="/auth/register" i18n>Register now!</a>
                </div>
            }
        </div>
    </section>

    <section class="landing-section" id="landing-page-functionalities">
        <div class="landing-section-actions">
            <h2 class="landing-section-header" i18n>Functionalities</h2>

            <p class="landing-section-description" i18n>
                E-book wizard offers a lot of functionality to help you manage your e-books.
                You can store your e-books in one place, convert them to other formats, and share them with other users.
                If you have an e-book reader (such as a Kindle), you can also synchronize your e-books with your device.
                Sign up now to start using the ebook-wizard service.
            </p>
        </div>

        <div class="landing-section-figure">
            <img ngSrc="/assets/illustrations/reading-ebook.svg"
                 alt="Person reading a book"
                 width="700" height="400" />
        </div>
    </section>

    <section class="landing-section" id="landing-page-supported-formats">
        <div class="landing-section-figure">
            <img ngSrc="/assets/illustrations/student-reading-book.svg"
                 alt="Student reading a book"
                 width="700" height="400" />
        </div>

        <div class="landing-section-actions">
            <h2 class="landing-section-header" i18n>Supported formats</h2>

            <p class="landing-section-description" i18n>
                Ebook-wizard supports all popular e-book formats.
                You can store and convert e-books in formats such as epub, mobi, azw3, pdf, docx, txt, html.
            </p>
        </div>
    </section>

    <section class="landing-section" id="landing-page-cta">
        <div class="landing-section-actions">
            <h2 class="landing-section-header" i18n>Why are you waiting?</h2>

            <p class="landing-section-description" i18n>
                Don't wait and try ebook-wizard now.
                It doesn't cost you anything, and you will gain access to many features that will help you manage your e-books.
            </p>

            @if (!isUserAuthenticated) {
                <div class="landing-section-registration">
                    <a routerLink="/auth/login" i18n>Sign in</a>
                    <ng-container i18n>or</ng-container>
                    <a routerLink="/auth/register" i18n>register now</a>
                    <ng-container i18n>to gain free access to ebook-wizard.</ng-container>
                </div>
            } @else {
                <div class="landing-section-registration">
                    <a routerLink="/ebook" i18n>Go to your dashboard </a>
                    <span i18n>to start using ebook-wizard.</span>
                </div>
            }
        </div>

        <div class="landing-section-figure">
            <img ngSrc="/assets/illustrations/girl-listening-audiobook.svg"
                 alt="Student listening to audiobook"
                 width="700" height="400" />
        </div>
    </section>

    <footer class="main-footer">
        <div class="footer-content">
            <p>
                &copy; ebook-wizard by Daniel Rogowski (Politechnika Bydgoska).
                All rights reserved.
                Information about website: <a href="/about" target="_blank">(link)</a>
            </p>
        </div>
    </footer>
</div>
