option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 3600

commands:
  01_system_libs:
    command: |
      sudo yum update && sudo dnf upgrade -y --releasever=2023.5.20240916 && sudo yum install -y libglvnd-glx libglvnd-egl libglvnd-opengl libxkbfile xcb-util-cursor texlive

  02_install_calibre:
    command: |
      wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sudo sh /dev/stdin version=7.6.0

  03_install_pandoc:
    command: |
      wget https://github.com/jgm/pandoc/releases/download/3.4/pandoc-3.4-linux-amd64.tar.gz && sudo tar xvzf pandoc-3.4-linux-amd64.tar.gz --strip-components 1 -C '/usr/local'
