/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: steelblue;
}

.mat-drawer-backdrop {
    position: fixed !important;
}

.logo-image {
    width: 200px;
    height: 32px;
}

*::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #ffffff;
}

*::-webkit-scrollbar
{
    width: 10px;
    background-color: #ffffff;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #4658d855;
}

.image-uploading {
    filter: blur(6px) !important;
}

