<h2 mat-dialog-title i18n>Share e-book</h2>

<mat-dialog-content>
    @if (updatingStatus === LoadingStatus.LOADING) {
        <div>
            <mat-progress-bar mode="indeterminate" />
        </div>
    }

    <div style="padding-bottom: 1.5em; padding-top: 1.5em;">
        <div i18n>
            Public?
        </div>

        <div>
            <mat-checkbox (change)="onPublicToggle($event)"
                          [disabled]="updatingStatus === LoadingStatus.LOADING || !ebookHasPdfFormat()"
                          [checked]="ebookFile.public"
                          i18n>
                Make e-book public
            </mat-checkbox>
        </div>

        <div i18n>
            Public ebooks can be viewed by other users.
        </div>

        <div>
            @if (!ebookHasPdfFormat()) {
                <strong i18n>If you want to share the ebook, you must convert it to PDF first.</strong>
            } @else {
                <span i18n>If you want to share the ebook, you must convert it to PDF first.</span>
            }
            <span matTooltip="Sharing in Ebook-Wizard allows other users to view your e-book in a read-only mode. Ebook-Wizard uses a PDF format to display e-books in the browser."
                  i18n-matTooltip
                  class="learn-more">
                [?]
            </span>
        </div>
    </div>

    <mat-divider />

    <div style="padding-top: 1.5em;">
        <div i18n>
            Share link to your e-book:
        </div>

        <div class="ebook-url-viewer">
            <mat-form-field >
                <mat-label>URL</mat-label>
                <input matInput [value]="ebookUrl" readonly>
            </mat-form-field>
        </div>

        <div>
            <button mat-button color="primary"
                    (click)="copyUrlToClipboard()"
                    [disabled]="updatingStatus === LoadingStatus.LOADING"
                    i18n>
                Copy to clipboard
            </button>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="updatingStatus === LoadingStatus.LOADING" i18n>
        Close
    </button>
</mat-dialog-actions>
