.chapter-picker-info {
    text-align: center;
}

.chapter-item {
    border-radius: 10px;
}

.chapter-item.active {
    background-color: #c6cbde;
}

.chapter-item:hover {
    background-color: #e7eaf2;
    cursor: pointer;
}

.chapter-action-btn {
    cursor: pointer;
}

.chapter-action-btn:hover {
    color: #4758b8 !important;
}

*::-webkit-scrollbar-track {
    background-color: #f8fafd;
}

.drag-drop-placeholder {
    background: #c6cbde;
    border-radius: 10px;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.home-link,
.ebook-link {
    text-align: center;
}

.ebook-link {
    margin-bottom: 1.25em;
}

.update-indicator {
    margin-top: 0.5em;
}

.update-indicator * {
    text-align: center;
    color: #333;
    vertical-align: middle;
    cursor: pointer;
}

.update-indicator mat-icon {
    color: #4758b8;
    margin-right: 0.4em;
}

.update-indicator mat-spinner {
    display: inline;
}
