<div class="ebook-link">
    <a routerLink="/ebook-project" (click)="onGoBack.emit()" mat-button color="primary">
        <mat-icon>arrow_back</mat-icon>
        <span i18n>Back to ebook projects</span>
    </a>
</div>

<p class="chapter-picker-info">
    <strong i18n>Currently editing:</strong><br/>
    @if (chosenChapter) {
        {{chosenChapter.name}}
    } @else {
        <span i18n>No chapter selected</span>
    }
</p>

<mat-list cdkDropList (cdkDropListDropped)="onChapterDragged.emit($event)">
    @for (chapter of ebookProject!.chapters; track chapter.id) {
        <mat-list-item class="chapter-item"
                       (click)="onChapterSelected.emit(chapter)"
                       [ngClass]="{'active': chapter === chosenChapter}"
                       cdkDrag>

            <span matListItemTitle>{{chapter.name}}</span>

            <div matListItemIcon class="chapter-action-btn"
                 style="margin-right: 0; padding-right: 0;"
                 (click)="openDeleteChapterModal(chapter)">
                <mat-icon>delete</mat-icon>
            </div>

            <div matListItemIcon class="chapter-action-btn" (click)="openEditChapterNameModal(chapter)">
                <mat-icon>edit</mat-icon>
            </div>

            <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
        </mat-list-item>
    }
</mat-list>

<div class="add-chapter">
    <button mat-button color="primary" (click)="openAddChapterModal()">
        <mat-icon>add</mat-icon>
        <span i18n>Add chapter</span>
    </button>
</div>

<div class="update-indicator" (click)="onSave.emit()">
    <p>
        <mat-icon>save_as</mat-icon>
        <span i18n>Last saved:</span>
        @if (chosenChapterSaveStatus === LoadingStatus.LOADING) {
            <span i18n>saving...</span>
        } @else if (chosenChapterLastSaved === null) {
            <span i18n>not saved yet</span>
        } @else {
            {{chosenChapterLastSaved | date: 'medium'}}
        }
    </p>
</div>
