<div class="rules-container">
    <h1 i18n>Ebook-wizard rules</h1>

    <p>
        <strong class="rule-name" i18n>1. Services provided</strong>
        <span i18n>
            Ebook-Wizard is a cloud-based network drive providing
            tools for creating and storing electronic books (e-books).
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>2. Acceptance of terms and conditions</strong>
        <span i18n>
            By using the Ebook-Wizard service,
            you agree to be bound by these terms and conditions. If you do not agree
            with any part of this document, do not create the account.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>3. User responsibilities</strong>
        <span i18n>
            When storing e-books on the Ebook-Wizard service, please ensure that you are not infringing the laws of the country in which you live (including copyright laws).
            You should only upload books which are free or which you you have purchased legally. Ebook-Wizard is not responsible for the content
            stored by users and reserves the right to remove any
            content that violates the terms and conditions.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>4. Limitation of liability</strong>
        <span i18n>
            Ebook-Wizard is not liable
            for any indirect damages resulting from the use of the service. The author of the application
            does not guarantee that the service will operate uninterrupted or free of
            errors.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>5. Account termination</strong>
        <span i18n>
            The author of Ebook-Wizard reserves the right to
            terminate or suspend your access to the service, if it is
            found to be in flagrant breach of the terms and conditions. The user whose account is
            suspended, will receive an e-mail with the reason for the account suspension.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>6. Security evasion</strong>
        <span i18n>
            Any attempt to gain
            unauthorised access, disruption or breach of security of the Ebook-Wizard service
            is strictly prohibited and may lead to prosecution.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>7. Changes to the terms and conditions</strong>
        <span i18n>
            The author of Ebook-Wizard reserves the right to
            amend these terms and conditions. Any changes will be published on the
            main page of the website, and your continued use of the service shall signify your acceptance of the amended terms and conditions.
            terms and conditions.
        </span>
    </p>

    <p>
        <strong class="rule-name" i18n>8. Contact information</strong>
        <span i18n>
            The website administrator is Daniel
            Rogowski. If you have any questions or concerns regarding these terms and conditions, please contact me at
            <a href="mailto:daniel.rogowski@onet.pl">daniel.rogowski&#64;onet.pl</a>.
        </span>
    </p>
</div>
