@if (ebookProjectLoading === LoadingStatus.LOADED) {
    <div class="editor-container" *ngIf="ebookProjectLoading === LoadingStatus.LOADED">
        <div class="nav-pane">
            <div class="home-link">
                <a routerLink="/">
                    <img ngSrc="/assets/logo.svg" alt="logo" height="323" width="2000" class="logo-image" />
                </a>
            </div>

            <div class="chapter-picker">
                <app-chapter-picker [ebookProject]="ebookProject"
                                    [chosenChapter]="chosenChapter"
                                    [chosenChapterLastSaved]="chosenChapterLastSaved"
                                    [chosenChapterSaveStatus]="chosenChapterSaveStatus"
                                    (onChapterSelected)="markChapterAsActive($event)"
                                    (onChapterDragged)="onChapterDragged($event)"
                                    (onSave)="saveEbookProject().subscribe()" />
            </div>
        </div>

        <div class="edit-pane">
            <quill-editor #quillEditor
                          (onContentChanged)="onTextInput($event)"
                          (onEditorCreated)="onQuillEditorCreated()" />
        </div>
    </div>
} @else if (ebookProjectLoading === LoadingStatus.LOADING) {
    <mat-spinner class="main-loading-spinner"></mat-spinner>
} @else {
    <div class="loading-error">
        <p>
            <strong i18n>Error:</strong>
            <span i18n>Failed to load ebook project.</span>
        </p>

        <button mat-flat-button color="primary" (click)="document.location.reload()" i18n>
            Try again
        </button>
    </div>
}

<!-- Chapter picker icon for small screen devices -->
<div class="chapter-picker-icon" (click)="openChapterPickerModal()">
    <button mat-mini-fab color="primary">
        <mat-icon>menu</mat-icon>
    </button>
</div>
