.editor-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 100vh;
}

.nav-pane {
    background-color: #f8fafd;
    padding: 1em;
}

.edit-pane {
    background-color: #f8fafd;
    overflow-y: hidden;
}

.edit-pane quill-editor {
    height: calc(100vh - 5em);
    width: 100%;
}

.home-link,
.ebook-link {
    text-align: center;
}

.chapter-picker {
    margin-top: 0.5em;
    padding: 0.5em 0.5em 0 0.5em;
    border-radius: 5px;
    overflow-x: scroll;
    max-height: calc(100vh - 10em);
}

@media (max-width: 715px) {
    .editor-container {
        grid-template-columns: 100vw;
    }

    .nav-pane {
        display: none;
    }

    .chapter-picker-icon {
        // Place in the bottom right corner of the screen
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
}

@media (min-width: 715px) {
    .chapter-picker-icon {
        display: none;
    }
}

.main-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-error {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*::-webkit-scrollbar-track {
    background-color: #f8fafd;
}

