<h1 mat-dialog-title>
    @if (mode === 'create') {
        Create new chapter
    } @else {
        Edit chapter
    }
</h1>

<mat-dialog-content class="chapter-edit-form">
    <form [formGroup]="chapterForm" (submit)="onChapterSaved()">
        <mat-form-field>
            <mat-label>Chapter name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>
                Cancel
            </button>

            <button mat-flat-button color="primary" [disabled]="chapterForm.invalid" type="submit">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
