.ebook-page-section {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-areas: "content details";
    height: calc(100vh - 7em);
}

.md-only {
    display: none;
}

@media (max-width: 1200px) {
    .ebook-page-section {
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }

    .md-only {
        display: flex;
    }
}

.ebook-page-content {
    padding: 2em;
    grid-area: content;
    background-color: white;
    border-radius: 8px;
    margin-right: 1em;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

.ebook-page-details {
    padding: 2em;
    grid-area: details;
    background-color: white;
    border-radius: 8px;
    margin-right: 1em;
}

@media (max-width: 1200px) {
    .ebook-page-details {
        display: none;
        margin-right: 0;
    }
}

.ebook-page-details-placeholder {
    padding: 5em 1em;
    border: 1px dashed gray;
    border-radius: 8px;
}
