<div class="ebook-page-section">
    <div class="ebook-page-content">
        <h2>
            <span i18n>welcome to</span>
            <strong>ebook-wizard</strong>!
        </h2>

        <p>
            <ng-container i18n>You don't know what to do now?</ng-container>
            <ng-container i18n>Learn about two types of</ng-container>
            <strong>ebook-wizard</strong>
            <ng-container i18n>resources:</ng-container>
        </p>

        <mat-list>
            <mat-list-item class="ebook-page-nav-item">
                <mat-icon matListItemIcon>menu_book</mat-icon>
                <div matListItemTitle i18n>Ebook file</div>
                <div matListItemLine i18n>Used to store and edit ebooks you've downloaded online.</div>
                <button mat-button color="primary" routerLink="/ebook-file" i18n class="nav-btn">
                    Browse your ebook files
                </button>
            </mat-list-item>

            <mat-list-item class="ebook-page-nav-item">
                <mat-icon matListItemIcon>border_color</mat-icon>
                <div matListItemTitle i18n>Ebook project</div>
                <div matListItemLine i18n>Used to create your own ebooks from scratch.</div>
                <button mat-button color="primary" routerLink="/ebook-project" i18n class="nav-btn">
                    Browse your ebook projects
                </button>
            </mat-list-item>

        </mat-list>
    </div>

    <div class="ebook-page-details">
        <div class="ebook-page-details-placeholder" i18n>
            When you highlight some ebook,
            here you will find details about it.
        </div>
    </div>
</div>
