<h2 mat-dialog-title i18n>Import ebook file</h2>
<mat-dialog-content>
    <mat-stepper linear #stepper>
        <mat-step [editable]="false" [stepControl]="fileUploadForm">
            <ng-template matStepLabel i18n>Upload file</ng-template>

            <form [formGroup]="fileUploadForm">
                <p i18n>
                    Please input an ebook you bought or downloaded online.<br/>
                </p>

                <p i18n>Accepted formats: MOBI, EPUB, AZW3, PDF, DOCX, HTML, TXT</p>

                <div class="ebook-upload">
                    @if (ebookFileUploadStatus === LoadingStatus.LOADING) {
                        <mat-progress-bar [mode]="ebookFileUploadProgress === 100 ? 'indeterminate' : 'determinate'"
                                          [value]="ebookFileUploadProgress" />
                    } @else {
                        <ngx-file-drag-drop (valueChanged)="onFileChosen($event)"
                                            emptyPlaceholder="Drop ebook file or click to select"
                                            i18n-emptyPlaceholder
                                            accept=".docx,.mobi,.pdf,.azw3,.txt,.html,.epub"
                                            formControlName="file" />
                    }
                </div>
            </form>

            <p>
                <small>
                    <span i18n>
                        Do you want to create an ebook from scratch?
                    </span>
                    <br/>
                    <a mat-dialog-close routerLink="/ebook-project" [queryParams]="{modal: 'creator'}" i18n>
                        Create ebook project instead
                    </a>
                </small>
            </p>
        </mat-step>

        <mat-step [editable]="false" [stepControl]="metaEditForm.metadataForm">
            <ng-template matStepLabel>
                <span i18n>Modify the metadata</span>
            </ng-template>

            <p i18n>
                Some of the fields are pre-filled based on the file you uploaded.
            </p>

            <app-ebook-file-meta-edit-form (updateEbookFile)="onEbookFileMetaUpdated($event)"
                                           [ebookFile]="ebookFile!"
                                           #metaEditForm />
        </mat-step>

        <mat-step [editable]="false">
            <ng-template matStepLabel>
                <span i18n>
                    Done
                </span>
            </ng-template>

            <p i18n>This is the ebook you've created!</p>

            <app-ebook-file-details [ebookFile]="ebookFile" />

            <div mat-dialog-actions align="end">
                <button mat-flat-button color="primary" mat-dialog-close i18n>Close</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

