.ebook-upload {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.info-tooltip {
    font-weight: bold;
    cursor: help;
}

.multi-mode-progress-text {
    margin-top: 0.8em;
    text-align: right;
}

.multi-mode-progress-bar {
    margin-top: 1.69em;
}
