.container {
    background: white;
    margin: 1em 70px;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
    }

    .go-back-link {
        margin-bottom: 2em;
    }
}

.rule-name {
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
}
