<div class="container">
    <div class="logo-container">
        @if (isUserAuthenticated) {
            <a routerLink="/ebook">
                <img ngSrc="/assets/logo.svg" height="100" width="300" alt="Ebook-wizard logo" class="logo">
            </a>
        } @else {
            <a routerLink="/">
                <img ngSrc="/assets/logo.svg" height="100" width="300" alt="Ebook-wizard logo" class="logo">
            </a>
        }

    </div>

    <div class="logo-container">
        @if (isUserAuthenticated) {
            <a routerLink="/ebook">Go back</a>
        } @else {
            <a routerLink="/">Go back</a>
        }
    </div>

    <h1>Ebook-wizard rules</h1>

    <p>
        <strong class="rule-name">1. Acceptance of Terms</strong>
        By accessing and using ebook-wizard, you agree to comply with and be bound by these Terms of Service. If you do not agree with any part of these terms, please do not use our service.
    </p>

    <p>
        <strong class="rule-name">2. Services Provided</strong>
        Ebook-wizard provides tools for editing and creating eBooks. The platform allows users to format, design, and manage their eBooks.
    </p>

    <p>
        <strong class="rule-name">3. User Responsibilities</strong>
        You are responsible for the content you create or edit using our service. You must ensure that your content does not violate any laws or third-party rights, including copyright laws.
        Ebook-wizard is not responsible for any content created or edited by users.
        We reserve the right to remove any content that violates these terms.
    </p>

    <p>
        <strong class="rule-name">4. Account Security</strong>
        You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
    </p>

    <p>
        <strong class="rule-name">5. Intellectual Property</strong>
        All content and materials on ebook-wizard are owned by or licensed to us and are protected by intellectual property laws.
        You may not copy, modify, or distribute any content from our platform without permission.
    </p>

    <p>
        <strong class="rule-name">6. Limitation of Liability</strong>
        Ebook-wizard is not liable for any indirect, incidental, or consequential damages resulting from the use of our service.
        We do not guarantee that our service will be uninterrupted or error-free.
    </p>

    <p>
        <strong class="rule-name">7. Termination</strong>
        We reserve the right to terminate or suspend your access to ebook-wizard at our sole discretion, with or without cause, and with or without notice.
    </p>

    <p>
        <strong class="rule-name">8. Changes to Terms</strong>
        We may update these Terms of Service from time to time. Any changes will be posted on our website, and your continued use of the service constitutes your acceptance of the revised terms.
    </p>

    <p>
        <strong class="rule-name">9. Governing Law</strong>
        These terms are governed by and construed in accordance with the laws of the jurisdiction where ebook-wizard operates.
    </p>

    <p>
        <strong class="rule-name">10. Contact Information</strong>
        For any questions or concerns regarding these Terms of Service,
        please contact us at contact&commat;ebook-wizard.com.
    </p>
</div>
