.container {
    background: white;
    margin: 1em 70px;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 6px;
}

.rule-name {
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
}
