<div>
    @if (!ebookFile?.coverImageKey) {
        <p><strong i18n>No cover image</strong></p>
    }
    @else if (coverUrlLoadingStatus == LoadingStatus.LOADED) {
        <img [ngSrc]="coverUrl!!"
             alt="cover image"
             class="cover-image"
             width="200" height="300" />
    } @else if (coverUrlLoadingStatus == LoadingStatus.LOADING) {
        <mat-spinner />
    } @else if (coverUrlLoadingStatus == LoadingStatus.ERROR) {
        <p><strong i18n>Could not load the cover...</strong></p>
    }
</div>

<div class="details-line">
    <strong i18n>Title</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookFile?.name || 'Unknown title'}}</p>
</div>

<div class="details-line">
    <strong i18n>Author</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>
    <p>{{ebookFile?.author || 'Unknown author'}}</p>
</div>

<div class="details-line">
    <strong i18n>Tags</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ebookFile?.tags!.join(", ") || "-" }}</p>
</div>

<div class="details-line">
    <strong i18n>Description</strong>
    <span (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
    </span>

    <p>{{ ebookFile?.description ?? "-" }}</p>
</div>

<div class="details-line">
    <strong i18n>Created at</strong>

    <p>{{(ebookFile?.creationDate | date) || '-'}}</p>
</div>

<div class="details-line">
    <strong i18n>Source format</strong>

    <p>{{ ebookFile?.conversionSourceFormat?.toString() || "n/a" }}</p>
</div>

<div class="details-line">
    <strong i18n>Share status</strong>

    @if (ebookFile?.public) {
        <p i18n>Public</p>
    } @else {
        <p i18n>Private</p>
    }
</div>

<div class="details-line">
    <strong i18n>Total size</strong>

    @if (ebookFile?.totalSizeBytes) {
        <p>{{stringUtils.formatBytes(ebookFile?.totalSizeBytes!)}}</p>
    } @else {
        <p>???</p>
    }
</div>

