<div class="ebook-page-section">
    <div class="ebook-page-content">
        <h2>welcome to <strong>ebook-wizard</strong>!</h2>

        <p>
            You don't know what to do now?
            Learn about two types of <strong>ebook-wizard</strong> resources:
        </p>

        <mat-list>
            <mat-list-item class="ebook-page-nav-item">
                <mat-icon matListItemIcon>menu_book</mat-icon>
                <div matListItemTitle>Ebook file</div>
                <div matListItemLine>Used to store and edit ebooks you've downloaded online.</div>
                <button mat-button color="primary" routerLink="/ebook-file">Browse your ebook files</button>
            </mat-list-item>

            <mat-list-item class="ebook-page-nav-item">
                <mat-icon matListItemIcon>border_color</mat-icon>
                <div matListItemTitle>Ebook project</div>
                <div matListItemLine>Used to create your own ebooks from scratch.</div>
                <button mat-button color="primary" routerLink="/ebook-project">Browse your ebook files</button>
            </mat-list-item>

        </mat-list>
    </div>

    <div class="ebook-page-details">
        <div class="ebook-page-details-placeholder">
            When you highlight some ebook,
            here you will find details about it.
        </div>
    </div>
</div>
