.ebook-page-section {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-areas: "content details";
    height: 100%;
}

.ebook-page-content {
    padding: 2em;
    grid-area: content;
    background-color: white;
    border-radius: 8px;
    margin-right: 1em;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

.ebook-page-details {
    padding: 2em;
    grid-area: details;
    background-color: white;
    border-radius: 8px;
    margin-right: 1em;
}

.ebook-page-details-placeholder {
    padding: 5em 1em;
    border: 1px dashed gray;
    border-radius: 8px;
}
