<div class="register-form">
    <mat-card class="register-form-card">
        <mat-card-title class="register-form-title">
            <div class="register-form-heading">
                Register to ebook-wizard
            </div>
            <div class="register-form-go-back">
                <button mat-button routerLink="/">
                    &larr; Return to main page
                </button>
            </div>
        </mat-card-title>

        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
            <mat-card-content class="register-form-content">
                <mat-form-field class="register-form-input">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="john@example.com" formControlName="email">
                    @if (registerForm.controls["email"].hasError('required')) {
                        <mat-error>Email is required</mat-error>
                    } @else if (registerForm.controls["email"].hasError('email')) {
                        <mat-error>Invalid email</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="register-form-input">
                    <mat-label>Your nickname</mat-label>
                    <input type="text" matInput placeholder="john12" formControlName="nickname">
                    @if (registerForm.controls["nickname"].hasError('required')) {
                        <mat-error>Nickname is required</mat-error>
                    } @else if (registerForm.controls["nickname"].hasError('minlength')) {
                        <mat-error>At least 3 characters</mat-error>
                    } @else if (registerForm.controls["nickname"].hasError('maxlength')) {
                        <mat-error>At most 20 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="register-form-input">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="********" formControlName="password">
                    @if (registerForm.controls["password"].hasError('required')) {
                        <mat-error>Password is required</mat-error>
                    } @else if (registerForm.controls["password"].hasError('minlength')) {
                        <mat-error>At least 8 characters</mat-error>
                    } @else if (registerForm.controls["password"].hasError('passwordStrength')) {
                        <mat-error>At least 1 special character and 1 digit</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="register-form-input">
                    <mat-label>Repeat password</mat-label>
                    <input type="password" matInput placeholder="********" formControlName="passwordRepeat">
                    @if (registerForm.controls["passwordRepeat"].hasError('required')) {
                        <mat-error>Repeat password</mat-error>
                    } @else if (registerForm.controls["passwordRepeat"].hasError('passwordMismatch')) {
                        <mat-error>Passwords do not match</mat-error>
                    }
                </mat-form-field>

                <re-captcha (resolved)="onRecaptchaResolved($event)"
                            [siteKey]="recaptchaSiteKey"/>
            </mat-card-content>

            <mat-card-actions>
                <div class="button-flex-container">
                    <button mat-button routerLink="/auth/login" type="button">
                        Login instead &rarr;
                    </button>

                    <app-action-pending-button
                        [pending]="pending"
                        [disabled]="registerForm.invalid"
                        type="submit">
                        Register
                    </app-action-pending-button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
