<h2 matDialogTitle i18n>Password change</h2>

<div matDialogContent>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChangeFormSubmitted()">
        <p i18n>
            Provide your current password and a new one.
        </p>

        <div>
            <mat-form-field>
                <mat-label i18n>Current password</mat-label>
                <input matInput
                       type="password"
                       formControlName="oldPassword"
                       required />
                <mat-error *ngIf="passwordChangeForm.controls['oldPassword'].hasError('required')" i18n>This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label i18n>New password</mat-label>
                <input matInput
                       type="password"
                       formControlName="newPassword"
                       required />
                <mat-error *ngIf="passwordChangeForm.controls['newPassword'].hasError('required')" i18n>This field is required.</mat-error>
                <mat-error *ngIf="passwordChangeForm.controls['newPassword'].hasError('minlength')" i18n>At least 8 characters.</mat-error>
                <mat-error *ngIf="passwordChangeForm.controls['newPassword'].hasError('passwordStrength')" i18n>At least 1 special character and 1 digit.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label i18n>Repeat new password</mat-label>
                <input matInput
                       type="password"
                       formControlName="newPasswordRepeat"
                       required />
                <mat-error *ngIf="passwordChangeForm.controls['newPasswordRepeat'].hasError('required')" i18n>This field is required.</mat-error>
                <mat-error *ngIf="passwordChangeForm.controls['newPasswordRepeat'].hasError('passwordMismatch')" i18n>Passwords do not match.</mat-error>
            </mat-form-field>
        </div>

        <mat-dialog-actions align="end">
            <button type="button"
                    mat-button
                    matDialogClose
                    i18n>
                Cancel
            </button>

            <button type="submit"
                    mat-flat-button
                    color="primary"
                    i18n
                    [disabled]="passwordChangeForm.invalid">
                Change password
            </button>
        </mat-dialog-actions>
    </form>
</div>
