<div class="reader-container">
    <div class="nav-pane">
        <div class="home-link">
            <a routerLink="/">
                <img ngSrc="/assets/logo.svg" alt="logo" height="323" width="2000" class="logo-image" />
            </a>
        </div>

        @if (isUserAuthenticated) {
            <div class="ebook-link">
                <a routerLink="/ebook-file" mat-button color="primary">
                    <mat-icon>arrow_back</mat-icon>

                    @if (isSmallScreen) {
                        <span i18n>Back</span>
                    } @else {
                        <span i18n>Back to ebook list</span>
                    }
                </a>

                @if (isSmallScreen) {
                    <button mat-button (click)="showSmallScreenModal()" color="primary">
                        <mat-icon>menu</mat-icon>
                        <span i18n>Menu</span>
                    </button>
                }
            </div>
        }

        <div class="nav-pane-controls">
            @if (ebookFile && !isSmallScreen) {
                <div class="ebook-meta-display">
                    <div>
                        <strong i18n>E-book name:</strong> {{ ebookFile.name }}
                    </div>

                    <div>
                        <strong i18n>Author:</strong> {{ ebookFile.author }}
                    </div>

                    <div>
                        <strong i18n>Description:</strong> {{ ebookFile.description }}
                    </div>

                    <div>
                        <strong i18n>Tags:</strong> {{ ebookFile.tags.join(', ') || "-" }}
                    </div>
                </div>
            }

            @if (ebookFile && !isSmallScreen) {
                <div class="ownership-info">
                    @if (!isUserAuthenticated) {
                        <p i18n>
                            This file is shared to you by ebook-wizard user.
                        </p>

                        <p>
                            <a routerLink="/" mat-button color="primary" i18n>Try ebook-wizard</a>
                        </p>
                    } @else if (isUserOwner) {
                        <p i18n>
                            You are the owner of this file.
                        </p>

                        <p>
                            <a routerLink="/ebook-file" mat-button color="primary" i18n>Edit it in files editor</a>
                        </p>
                    } @else if (!isUserOwner) {
                        <ng-container i18n>This file is shared to you by another user.</ng-container>
                    }
                </div>
            }

            @if (ebookFile && !isSmallScreen) {
                <div class="format-picker">
                    <mat-form-field>
                        <mat-label i18n>Choose format</mat-label>
                        <mat-select [(value)]="chosenFormat">
                            @if (isUserOwner || ebookHasFormat(ebookFile, EbookFormat.HTML)) {
                                <mat-option [value]="EbookFormat.HTML">HTML</mat-option>
                            }
                            @if (isUserOwner || ebookHasFormat(ebookFile, EbookFormat.PDF)) {
                                <mat-option [value]="EbookFormat.PDF">PDF</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            }
        </div>
    </div>

    <div class="ebook-pane">
        @if (ebookFileLoadingStatus === LoadingStatus.LOADING) {
            <div class="loading-msg">
                <mat-spinner mode="indeterminate" [diameter]="24"></mat-spinner>
                <strong i18n>The ebook is being loaded...</strong>
            </div>
        } @else if (ebookFileLoadingStatus === LoadingStatus.ERROR) {
            <div class="error-msg">
                <div><strong>
                    @if (ebookFileLoadingError === "unauthorized") {
                        <ng-container i18n></ng-container>
                    } @else if (ebookFileLoadingError === "not-found") {
                        <ng-container i18n>Ebook file not found.</ng-container>
                    } @else {
                        <ng-container i18n>Error loading ebook file.</ng-container>
                    }
                </strong></div>
            </div>
        } @else if (ebookFileLoadingStatus === LoadingStatus.LOADED) {
            <div class="reader">
                <app-ebook-reader-display [ebookFile]="ebookFile"
                                          [ebookFormat]="chosenFormat" />
            </div>
        }
    </div>
</div>
