<app-landing-page-navbar />

<section class="landing-section" id="landing-page-header">
    <div class="landing-section-figure">
        <img ngSrc="/assets/illustrations/girl-reading-book.svg"
             alt="Girl reading a book"
             width="700" height="400" />
    </div>

    <div class="landing-section-actions">
        <h2 class="landing-section-header">Securely create and store e-books in the cloud</h2>

        <p class="landing-section-description">
            A free secure network drive that offers the ability to create and convert e-books.
            With ebook-wizard you can create and store all your e-books in one place.
            Sign up now to start using the ebook-wizard service.
        </p>

        <div class="landing-section-buttons">
            <button mat-flat-button color="primary">Open your disk</button>
            <button mat-stroked-button routerLink="/auth/login">Sign in</button>
        </div>

        <div class="landing-section-registration">
            You don't have an account yet?
            <a routerLink="/auth/register">Register now!</a>
        </div>
    </div>
</section>

<section class="landing-section" id="landing-page-functionalities">
    <div class="landing-section-actions">
        <h2 class="landing-section-header">Functionalities</h2>

        <p class="landing-section-description">
            E-book wizard offers a lot of functionality to help you manage your e-books.
            You can store your e-books in one place, convert them to other formats, and share them with other users.
            If you have an e-book reader (such as a Kindle), you can also synchronize your e-books with your device.
            Sign up now to start using the ebook-wizard service.
        </p>
    </div>

    <div class="landing-section-figure">
        <img ngSrc="/assets/illustrations/reading-ebook.svg"
             alt="Person reading a book"
             width="700" height="400" />
    </div>
</section>

<section class="landing-section" id="landing-page-supported-formats">
    <div class="landing-section-figure">
        <img ngSrc="/assets/illustrations/student-reading-book.svg"
             alt="Student reading a book"
             width="700" height="400" />
    </div>

    <div class="landing-section-actions">
        <h2 class="landing-section-header">Supported formats</h2>

        <p class="landing-section-description">
            Ebook-wizard supports all popular e-book formats.
            You can store and convert e-books in formats such as epub, mobi, azw3, pdf, docx, txt.
        </p>
    </div>
</section>

<section class="landing-section" id="landing-page-cta">
    <div class="landing-section-actions">
        <h2 class="landing-section-header">Why are you waiting?</h2>

        <p class="landing-section-description">
            Don't wait and try ebook-wizard now.
            It doesn't cost you anything, and you will gain access to many features that will help you manage your e-books.
        </p>

        <div class="landing-section-registration">
            <a routerLink="/auth/login">Sign in</a> or <a routerLink="/auth/register">register now</a> to gain free access to ebook-wizard.
        </div>
    </div>

    <div class="landing-section-figure">
        <img ngSrc="/assets/illustrations/girl-listening-audiobook.svg"
             alt="Student listening to audiobook"
             width="700" height="400" />
    </div>
</section>
