@if (resetPasswordConfirmed) {
    <h2 mat-dialog-title>Your password is reset!</h2>

    <mat-dialog-content>
        <p>
            Your password has been reset.
        </p>
        <p>
            You can now log in to <strong>ebook-wizard</strong>.
        </p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-raised-button
                color="primary"
                [mat-dialog-close]="true"
                (click)="navigateToLogin()">
            Login now!
        </button>
    </mat-dialog-actions>
} @else {
    <h2 mat-dialog-title>Confirm your email</h2>
    <form [formGroup]="resetPasswordConfirmForm" (ngSubmit)="onResetPasswordConfirmSubmitted()">
        <mat-dialog-content>
            <p>
                Your <strong>ebook-wizard</strong> password reset procedure has been initiated.
            </p>
            <p>
                Please check your email (<em>{{ userData.userEmail }}</em>).
                There you will find a code to confirm your registration.
            </p>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label>Verification code</mat-label>
                    <input matInput formControlName="code" />
                    @if (resetPasswordConfirmForm.controls["code"].invalid) {
                        <mat-error>Invalid code</mat-error>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="newPassword" />
                    @if (resetPasswordConfirmForm.controls["newPassword"].hasError('required')) {
                        <mat-error>Password is required</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPassword"].hasError('minlength')) {
                        <mat-error>At least 8 characters</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPassword"].hasError('passwordStrength')) {
                        <mat-error>At least 1 special character and 1 digit</mat-error>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label>New password (repeat)</mat-label>
                    <input matInput type="password" formControlName="newPasswordRepeat" />
                    @if (resetPasswordConfirmForm.controls["newPasswordRepeat"].hasError('required')) {
                        <mat-error>Repeat password</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPasswordRepeat"].hasError('passwordMismatch')) {
                        <mat-error>Passwords do not match</mat-error>
                    }
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button
                    (click)="dialogRef.close()"
                    class="reset-password-go-back-btn"
                    type="button">
                &larr; Go back
            </button>

            <app-action-pending-button
                [pending]="resetPasswordConfirmPending"
                [disabled]="resetPasswordConfirmForm.invalid"
                type="submit">
                Confirm
            </app-action-pending-button>
        </mat-dialog-actions>
    </form>
}
