@if (resetPasswordConfirmed) {
    <h2 mat-dialog-title i18n>Your password is reset!</h2>

    <mat-dialog-content>
        <p i18n>
            Your password has been reset.
        </p>
        <p>
            <ng-container i18n>You can now log in to</ng-container>
            <strong>ebook-wizard</strong>.
        </p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-raised-button
                color="primary"
                [mat-dialog-close]="true"
                (click)="navigateToLogin()"
                i18n>
            Login now!
        </button>
    </mat-dialog-actions>
} @else {
    <h2 mat-dialog-title i18n>Confirm your email</h2>
    <form [formGroup]="resetPasswordConfirmForm" (ngSubmit)="onResetPasswordConfirmSubmitted()">
        <mat-dialog-content>
            <p>
                <ng-container i18n>Your</ng-container>
                <strong>ebook-wizard</strong>
                <ng-container i18n>password reset procedure has been initiated.</ng-container>
            </p>
            <p>
                <ng-container i18n>Please check your email</ng-container> (<em>{{ userData.userEmail }}</em>).
                <br />
                <ng-container i18n>There you will find a code to confirm your registration.</ng-container>
            </p>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label i18n>Verification code</mat-label>
                    <input matInput formControlName="code" />
                    @if (resetPasswordConfirmForm.controls["code"].invalid) {
                        <mat-error i18n>Invalid code</mat-error>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label i18n>New password</mat-label>
                    <input matInput type="password" formControlName="newPassword" />
                    @if (resetPasswordConfirmForm.controls["newPassword"].hasError('required')) {
                        <mat-error i18n>Password is required</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPassword"].hasError('minlength')) {
                        <mat-error i18n>At least 8 characters</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPassword"].hasError('passwordStrength')) {
                        <mat-error i18n>At least 1 special character and 1 digit</mat-error>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="reset-password-form-input">
                    <mat-label i18n>New password (repeat)</mat-label>
                    <input matInput type="password" formControlName="newPasswordRepeat" />
                    @if (resetPasswordConfirmForm.controls["newPasswordRepeat"].hasError('required')) {
                        <mat-error i18n>Repeat password</mat-error>
                    } @else if (resetPasswordConfirmForm.controls["newPasswordRepeat"].hasError('passwordMismatch')) {
                        <mat-error i18n>Passwords do not match</mat-error>
                    }
                </mat-form-field>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-button
                    (click)="dialogRef.close()"
                    class="reset-password-go-back-btn"
                    type="button"
                    i18n>
                &larr; Go back
            </button>

            <app-action-pending-button
                [pending]="resetPasswordConfirmPending"
                [disabled]="resetPasswordConfirmForm.invalid"
                type="submit"
                i18n>
                Confirm
            </app-action-pending-button>
        </mat-dialog-actions>
    </form>
}
