.error-msg {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.loading-msg {
    position: absolute;
    top: calc(50% - 1em);
    left: calc(50% + 10em);
    transform: translate(-50%, -50%);
}

.loading-msg,
.loading-msg * {
    vertical-align: middle;
    font-size: 120%;
    text-align: center;
}

.loading-msg * {
    display: inline-block;
}

.loading-msg mat-spinner {
    margin-right: 1em;
}

.ebook-frame {
    position: relative;
    border: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.pdf-viewer {
    transform: translateX(-3em);
}

.ebook-iframe::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #ffffff;
}

.ebook-iframe::-webkit-scrollbar
{
    width: 10px;
    background-color: #ffffff;
}

.ebook-iframe::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #4658d855;
}

.ebook-meta-display {
    margin-top: 2em;
}

.ebook-frame-controls-container {
    position: relative;
}

.ebook-frame-controls {
    position: absolute;
    left: calc((100vh - 2em) * 0.77272);
    transform: translateX(-3em);
}

.ebook-frame-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    margin-bottom: 4px;
    border: 1px solid #333333;
    border-radius: 3px;
}

.ebook-frame-control:hover {
    cursor: pointer;
}

.ebook-frame-control.disabled {
    opacity: 0.3;
}

.ebook-frame-control.disabled:hover {
    cursor: not-allowed;
}

.page-num-display {
    width: 150%;
    cursor: unset;
}

@media screen and (max-width: 1300px) {
    .pdf-viewer {
        transform: unset;
    }
    .ebook-frame {
        justify-content: unset;
    }
    .ebook-frame-controls {
        left: calc((100vh - 2em) * 0.77272 + 3.3em);
    }
}
