<div class="page-jump-menu" (click)="$event.stopPropagation()">
    <strong i18n>Page jump</strong>
    <hr />

    <p i18n>Choose a page to jump to:</p>

    <form [formGroup]="pageJumpForm" (ngSubmit)="onSubmitPageJumpForm()">
        <mat-form-field>
            <mat-label i18n>Page number</mat-label>
            <input matInput
                   formControlName="pageNumber"
                   type="number"  />
        </mat-form-field>

        <button type="submit" i18n
                mat-flat-button
                color="primary"
                [disabled]="pageJumpForm.invalid">Jump</button>
    </form>
</div>
