<mat-sidenav-container class="main-nav-container" [ngClass]="{'main-nav-container__fullscreen': sidenav.opened}">
    <mat-sidenav #sidenav class="main-navbar-side-menu">
        <div class="main-navbar-side-menu-logo">
            <img ngSrc="/assets/logo.svg" alt="logo" height="323" width="2000" class="logo-image" />
        </div>

        <mat-list (click)="sidenav.close()">
            @for (navItem of navItems; track navItem.name) {
                <a mat-list-item (click)="sidenav.close(); onTabChange(navItem.anchorId)">
                    <div matListItemTitle>{{ navItem.name }}</div>
                </a>
            }
        </mat-list>

        <div class="main-navbar-side-menu-actions">
            @if ((authenticationService.$isUserAuthenticated | async) == true) {
                <div>
                    <app-logout-button />
                </div>
            } @else {
                <div>
                    <button mat-button color="primary" routerLink="/auth/login" i18n>Sign in</button>
                </div>

                <div>
                    <button mat-button color="primary" routerLink="/auth/register" i18n>Register now</button>
                </div>
            }

            @if ((authenticationService.$isUserAuthenticated | async) == true) {
                <div>
                    <button mat-raised-button color="primary" routerLink="/ebook" i18n>Open disk</button>
                </div>
            }
        </div>
    </mat-sidenav>

    <mat-toolbar class="main-navbar">
        <button mat-icon-button (click)="sidenav.open()" class="main-navbar-menu-icon">
            <mat-icon>menu</mat-icon>
        </button>

        <span>
            <img ngSrc="/assets/logo.svg" alt="logo" height="323" width="2000" class="logo-image" />
        </span>

        <mat-list>
            <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="main-navbar-nav">
                @for (navItem of navItems; track navItem.name) {
                    <a mat-tab-link (click)="onTabChange(navItem.anchorId)" [active]="activeTab == navItem.anchorId">
                        {{ navItem.name }}
                    </a>
                }
            </nav>
        </mat-list>

        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

        <div class="main-navbar-actions">
            @if ((authenticationService.$isUserAuthenticated | async) == true) {
                <app-logout-button />
                <button mat-raised-button color="primary" routerLink="/ebook" i18n>Open disk</button>
            } @else {
                <button mat-button color="primary" routerLink="/auth/login" i18n>Sign in</button>
                <button mat-button color="primary" routerLink="/auth/register" i18n>Register now</button>
            }
        </div>
    </mat-toolbar>
</mat-sidenav-container>
