<h2 matDialogTitle i18n>Convert file to project</h2>

@if (ongoingActionStatus === LoadingStatus.NOT_STARTED || ongoingActionStatus === LoadingStatus.ERROR) {
    <div matDialogContent>
        <p>
            <span i18n>Do you want to convert this file to a project?</span><br/>
            <span i18n>Ebook project is an editable version of the file</span><br/>
            <span i18n>that you can edit and save changes.</span>
        </p>

        <p>
            <span i18n>Conversion from file to project is not ideal.</span><br/>
            <span i18n>Depending on the file format, some data may be lost.</span>
        </p>

        <mat-checkbox [checked]="deleteEbookFile"
                      (change)="deleteEbookFile = !deleteEbookFile">
            <span [ngClass]="{'danger': deleteEbookFile}" i18n>
                Delete ebook file after conversion
            </span>
        </mat-checkbox>
    </div>
} @else if (ongoingActionStatus === LoadingStatus.LOADING) {
    <div matDialogContent class="loading-spinner">
        <mat-spinner mode="indeterminate" />
    </div>
}

<div matDialogActions align="end">
    <button mat-button
            matDialogClose
            [disabled]="ongoingActionStatus === LoadingStatus.LOADING"
            i18n>
        Cancel
    </button>

    <button mat-flat-button
            color="primary"
            (click)="convertToProject()"
            [disabled]="ongoingActionStatus === LoadingStatus.LOADING"
            i18n>
        Convert
    </button>
</div>
